
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


header {
   
  background-color: #000000;
  margin: 0  auto;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  width: 100%;

  padding-bottom: 20px;
  padding-top: 20px;
}


body, html{
    height: 100%;
}
.hide {
    display: none;
}

main {
    background-color: rgb(131, 10, 10);
    height: 75%;
    justify-content: center;
    
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
.container {
    background: #fff;
  border-radius: 15px;
  padding: 5% 0% 10% 0%;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  margin: 25% 10% 25% 10%;
}
.fact-button {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 200px;
    padding: 15px;
    margin: 25px;
    font-size: 16px;
    border-radius: 10px;
}

#fact-text {
    font-size: 150%;
    font-weight: 900;
    padding: 45px;
    border: 2px solid;
    border-radius: 15px;
    background-color: white;
    color: black;
    width: 60%;
}

li {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin: 25px;
    font-size: 16px;
    border: 2px solid;
    border-radius: 10px;
}

.footer {
    display: flex;
    bottom: 0%;
    max-height: 15px;
    background-color: black;
    justify-content: center;
    
    flex-wrap: wrap;
   
}

footer button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 120px;
    padding: 5px;
    padding-bottom: 0%;
   
    font-size: 16px;
    border-radius: 10px;
}